.location__info {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  background-color: rgb(0, 71, 56);
  color: white;
  padding: 0.7em;
}

.Location__info-detail {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1em;
  justify-content: center;
  text-align: center;
}
.Info__detail {
  text-align: start;
  font-size: 0.9rem;
  padding-left: 0.2em;
}
.Info__detail__name {
  text-align: start;
  font-size: 0.9rem;
  padding-left: 0.2em;
}
.location__li {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.location__info-detail {
  font-size: 0.8rem;
  text-align: center;
}
.location__info-detail_name {
  font-size: 0.8rem;
  text-align: center;
}
@media (min-width: 700px) {
  .location__info {
    width: 600px;
    box-shadow: 1px 10px 8px 8px rgb(1, 44, 35);
    border-radius: 1rem;
  }
  .Location__info-detail {
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr 1fr;
  }
  .location__li:nth-child(1) {
    grid-column: 1/4;
  }
  .Info__detail__name {
    display: none;
  }
  .location__info-detail_name {
    font-size: 2rem;
    font-weight: 700;
    color: rgb(32, 147, 32);
  }
  .location__li {
    gap: 0em;
  }
  .Info__detail {
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
  }
  .location__info-detail {
    font-weight: 400;
    font-size: 1rem;
  }
}
